[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/cofess/hexo-theme-pure.git
[submodule "themes/charaka-hugo-theme"]
	path = themes/charaka-hugo-theme
	url = https://github.com/natarajmb/charaka-hugo-theme.git
[submodule "hugo-theme-techdoc"]
	path = hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
